<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7d9be463-9cb3-4d15-bee9-27716097b34d/resourceGroups/blazor-server-weather-app/providers/Microsoft.Web/sites/BlazorServerWeatherApp</ResourceId>
    <ResourceGroup>blazor-server-weather-app</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <WebConfigEnvironmentVariables>ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.Azure.SignalR</WebConfigEnvironmentVariables>
    <SiteUrlToLaunchAfterPublish>https://blazorserverweatherapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>blazorserverweatherapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BlazorServerWeatherApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BlazorServerWeatherApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>